# === DEPENDENCIAS ===
node_modules/

# === EXPO ===
.expo/
dist/
web-build/
expo-env.d.ts

# === ANDROID (NO ignores la carpeta completa, solo lo innecesario) ===
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/app/debug.keystore

# === CERTIFICADOS / ARCHIVOS SENSIBLES ===
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# === METRO ===
.metro-health-check*

# === LOGS ===
npm-debug.*
yarn-debug.*
yarn-error.*

# === MACOS ===
.DS_Store
*.pem

# === ENV FILES ===
.env*.local

# === TYPESCRIPT ===
*.tsbuildinfo

# === iOS (si solo haces Android builds) ===
ios/
